.MoviesDetails {
   position: relative;
   top: 104px;

}

.MoviesPosterDetails {
   display: flex;
   padding: 35px 35px;

   /* background-color: rgb(26, 26, 26); */
}

.GoToTrailersTitleIcon {
   position: relative;
   bottom: 57%;
   left: 23%;

   background-color: rgba(34, 34, 34, 0.8);
   border-radius: 8px;
   padding: 4px 6px;

   display: flex;
   flex-direction: row-reverse;
   justify-content: center;
   align-items: center;

   width: 55%;
}

.GoToTrailers {
   color: white;
font-size: 13px;
 font-weight: bold;
 margin-left: 4px;
}

.GoToTrailersTitleIcon{
  color: white;
   transform: scale(0.7);
}


.MoviesPosterDetailsImageLeft {
   margin: 0px 10px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

   /* width: 70%;     */
   height: 327px;
border-radius: 10px;
   position: relative;
   left: 200px;

}

.MoviesPosterDetailsImageRight {
   display: flex;
   flex-direction: column;
   padding: 20px;
   width: 70%;

   position: relative;
   left: 200px;
}

.MoviesPosterDetailsImageRightTitle {
   font-weight: bold;
   color: white;
   margin: 5px 0px 35px 0px;
}

.MoviesPosterDetailsImageRightRating {
   display: flex;
   align-items: center;
   font-size: 24px;
   font-weight: bold;
   color: white;
}

.star {
   margin: 0px 15px 0px 0px;
   transform: scale(1.3);
}

.MoviesPosterDetailsImageRightFormateLanguage {
   padding: 10px 0px;
}

.MoviesPosterDetailsImageRightLengthageRatingReleasedate {
   padding: 10px 0px;
   color: white;

}

.sameDetailCompo {
   margin: 0px 5px;
}

.MoviesAboutDetails {
   margin: 20px;

   width: 70%;
   position: relative;
   left: 200px;
}

.MoviesAboutDetailsAbout {
   font-weight: bold;
}

/* .MoviesAboutDetailsDesc{
   width: 70%;
} */

.MoviesCastsDetails {
   display: flex;
   padding: 20px;
   overflow-x: scroll;
   width: 70%;
   position: relative;
   left: 200px;
}


.MoviesCastsDetails::-webkit-scrollbar {
   display: none;
}


.Actor_picAndName {
   margin: 0px 20px;
   display: flex;
   flex-direction: column;
}

.Actor_pic {
   height: 120px;
   width: 120px;
   border-radius: 70px;
}

.Actor_name {
   padding: 5px;
   font-weight: bold;
}